spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cbap_dev
    username: cbap
    password: cbap
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.cbap: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
